.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  background-color: #fff;
  border: 1px solid rgba(64, 152, 99, 0.526);
  width: 360px;
  padding: 12px;
  border-radius: 6px;
}
.wrapper > h2 {
  margin-bottom: 12px;
  text-align: center;
}
.wrapper > input {
  height: 36px;
  border-radius: 6px;
  padding-left: 10px;
}
.btnWrapper {
  display: flex;
  justify-content: space-between;
}
.btn {
  color: rgb(250, 252, 251);
  border: 1px solid rgba(64, 152, 99, 0.526);
}
