.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
h1 {
  font-size: 24px;
  font-weight: normal;
  color: rgba(64, 152, 99, 0.526);
  text-transform: uppercase;
}
