h1 {
  font-size: 24px;
  font-weight: normal;
  color: rgba(18, 19, 19, 0.526);
  text-transform: uppercase;
}
.wrapper {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid rgba(64, 152, 99, 0.526);
  width: 480px;
  padding: 12px;
  border-radius: 6px;
}
.wrapper > li {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}
.textWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid rgba(64, 152, 99, 0.526);
}
.textWrapper > p {
  text-align: left;
  color: rgba(2, 2, 2, 0.635);
  margin: 0;
}
.buttonWrapper {
  display: flex;
  gap: 4px;
  justify-content: space-between;
  color: rgba(64, 152, 99, 0.526);
}
.btn {
  color: rgb(250, 252, 251);
  border: 1px solid rgba(64, 152, 99, 0.526);
}
